<!DOCTYPE html>
<html>
    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

        {{! CSS  }}
        <link href='http://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset "css/screen.css"}}">
        
        <link rel="stylesheet" href="{{asset "css/extra.css"}}">
        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}

    </head>
    <body class="{{body_class}}">

        <header class="site-header">
            {{> "header"}}                  
        </header>

        {{#if @blog.cover}}
        <main class="animated fadeIn" id="main" role="main" style="margin-top: 65px;">
        {{else}}
        <main class="animated fadeIn" id="main" role="main">
        {{/if}}
            {{{body}}}
        </main>

        <footer class="site-footer">
            {{> "footer"}}
        </footer>

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        <script type="text/javascript"> 
            //Load jQuery if it doesn't exist
            if (typeof jQuery == 'undefined') {
                document.write('<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></'+'script>');
            }
        </script>

        <script src="{{asset "js/theme-options.js"}}"></script>
        <script src="{{asset "js/main.min.js"}}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script src="{{asset "js/config.coffee.js"}}"></script>
    </body>
</html>
