{{!< default}}

{{! This is a post template. It displays a single post that the user selected from the home page template. }}
    <div class="wrapper">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}
        
        {{#if image}}
        <img class="post-image" src="{{image}}" alt="{{{title}}}">
        {{/if}}

        <article class="{{post_class}}">
            <section class="post-content">
                <h1 class="post-title">{{#if tags}}<span class="post-tags">{{tags separator=" & "}}:</span>{{/if}} {{{title}}}</h1>
                <div class="post-meta">
                    {{!--
                    <span class="author">By {{author}}</span>
                    --}}
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">on {{date format="MMMM D, YYYY"}}</time>
                </div>

                <section class="post-content-output">{{content}}</section>

                <section class="author-meta clearfix">
                    {{#author}}
                        {{#if image}}
                        <div class="author-image-wrapper">
                            <div class="author-image" style="background-image: url({{image}})"></div>
                        </div>
                        {{/if}}
                                        
                        {{#if image}}
                        <div class="author-bio">
                        {{else}}
                        <div class="author-bio" style="width: 90%;">
                        {{/if}}
                            <h3>{{name}}</h3>
                            {{#if bio}}
                                <p>{{bio}}</p>
                            {{/if}}
                            <p><a href="{{url}}">See more posts from {{name}}</a></p>
                        </div>
                    {{/author}}
                </section>

                <section class="comments">
                    <button class="show-comments">Show Comments</button>
                    <div id="disqus_thread"></div>
                </section>

            </section>
        </article>
        {{/post}}
 
    </div>